


<div style="text-align: center;">
    <h1 style="padding: 30px;">Contacto</h1>
    <p style="padding: 30px;">Conoce los lugares que en la actualidad se están impartiendo prácticas,
    ​   si no está tu provincia o sector inscríbete para aperturar un grupo en tu comunidad.</p>



    <h3 style="padding: 30px;">PARA MÁS DETALLES</h3>

    <h4 style="padding: 30px;">LUGARES DE PRÁCTICAS</h4>
</div>
<div class="row" style="width: 100%; text-align: center;">
    <div class="column" style="width: 49%;">
        <dl>
            <dt>EN EL CIBAO</dt>
                <dd>+1 (829) 362-4810</dd>
                <dd>VILLA GONZALEZ</dd>
                <dd>NAVARRETE</dd>
                <dd>ALTAMIRA</dd>
                <dd>LA ISABELA</dd>
                <dd>VILLA ELIZA</dd>
                <dd>AGUA PALMA</dd>
                <dd>PUNTA RUSIA</dd>
                <dt>BONAO</dt>
                <dd>+1 (809) 867-5848</dd>
                <dt>LA ROMANA</dt>
                <dd>+1 (809) 429-1855</dd>
        </dl>
    </div>
    <div class="column" style="width: 49%; text-align: center;">
        <dl>
            <dt>HIGUEY</dt>
                <dd>+1 (829) 574-2713</dd>
            <dt>SANTO DOMINGO OESTE</dt>
                <dd>+1 (809) 839-1378</dd>
            <dt>SANTO DOMINGO NORTE</dt>
                <dd>+1 (829) 613-0858</dd>
            <dt>SANTO DOMINGO ESTE</dt>
                <dd>+1 (829) 726-2382</dd>
            <dt>YAMASÁ</dt>
                <dd>+1 (829) 340-6860</dd>
        </dl>
    </div>
</div>