
<app-slider></app-slider>


<table>
    <tr>
        <th>Educación Vial</th>
        <th>Clases de Conducir</th>
        <th>Contenido de Valor</th>
    </tr>
    <tr>
        <td>Conjunto de conocimientos, reglas y normas de comportamiento que 
            toda persona debe poseer a la hora de transitar en la vía como peatón
            o como conductor de bicicletas, ciclomotores o automóviles, con el 
            objetivo de prevenir accidentes.
        </td>
        <td>Preparación teórica y práctica para aprender a conducir, un proceso de 
            acompañamiento compartido con instructores respetuosos y pacientes que 
            evalúan cada proceso de aprendizaje como alumna de manera que adquieras 
            habilidades y potencies tus conocimientos hasta lograr la seguridad al 
            volante.
        </td>
        <td>Consejos, técnicas e informaciones importantes que te ayudan con  la 
            seguridad vial: qué hacer para mantener las óptimas condiciones del vehículo, 
            cómo manejarse en situaciones de accidentes, técnicas de parqueo, elementos 
            necesarios para la preparación de un viaje y muchas cosas más que toda mujer 
            debe saber al conducir.
        </td>
    </tr>
</table>

